version: '3.8'

services:
  # --- Infrastructure ---
  postgres:
    image: postgres:15-alpine
    container_name: social_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: social_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d social_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: social_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  # --- Microservices ---
  
  # 1. API Gateway
  api-gateway:
    build: ./backend/api-gateway
    container_name: social_gateway
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=mysupersecretkey
    depends_on:
      - user-service
      - post-service

  # 2. User Service
  user-service:
    build: ./backend/user-service
    container_name: social_user_service
    environment:
      - PORT=3001
      - DB_HOST=postgres
      - DB_USER=admin
      - DB_PASS=password123
      - DB_NAME=social_db
      - JWT_SECRET=mysupersecretkey
    depends_on:
      postgres:
        condition: service_healthy

  # 3. Post Service
  post-service:
    build: ./backend/post-service
    container_name: social_post_service
    environment:
      - PORT=3002
      - DB_HOST=postgres
      - DB_USER=admin
      - DB_PASS=password123
      - DB_NAME=social_db
    depends_on:
      postgres:
        condition: service_healthy

  # 4. Comment Service
  comment-service:
    build: ./backend/comment-service
    container_name: social_comment_service
    environment:
      - PORT=3003
      - DB_HOST=postgres
      - DB_USER=admin
      - DB_PASS=password123
      - DB_NAME=social_db
    ports:
      - "3003:3003"
    depends_on:
      postgres:
        condition: service_healthy
  
  # 5. Frontend
  frontend:
    build: ./frontend
    container_name: social_frontend
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  pgdata: