version: '3.8'

services:
  # --- Infrastructure ---
  # Bỏ Postgres Local đi vì đã dùng Cloud SQL
  
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: social_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  # --- Microservices ---
  
  # 1. API Gateway
  api-gateway:
    build: ./backend/api-gateway
    container_name: social_gateway
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=mysupersecretkey
    depends_on:
      - user-service
      - post-service

  # 2. User Service
  user-service:
    build: ./backend/user-service
    container_name: social_user_service
    environment:
      - PORT=3001
      - DB_HOST=35.229.227.81
      - DB_USER=postgres
      # Bọc mật khẩu trong dấu nháy đơn để tránh lỗi ký tự đặc biệt
      - DB_PASS=sp+~hh@uCg?6_T=]
      # Đổi về 'postgres' nếu bạn chưa tạo DB riêng
      - DB_NAME=postgres 
      - JWT_SECRET=mysupersecretkey
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcs-key.json
      - GCS_BUCKET_NAME=omnisocial-uploads-unique-123
    volumes:
      - ./gcs-key.json:/app/gcs-key.json
    # Bỏ depends_on postgres

  # 3. Post Service
  post-service:
    build: ./backend/post-service
    container_name: social_post_service
    environment:
      - PORT=3002
      - DB_HOST=35.229.227.81
      - DB_USER=postgres
      - DB_PASS=sp+~hh@uCg?6_T=]
      - DB_NAME=postgres
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcs-key.json
      - GCS_BUCKET_NAME=omnisocial-uploads-unique-123
    volumes:
      - ./gcs-key.json:/app/gcs-key.json
    # Bỏ depends_on postgres

  # 4. Comment Service
  comment-service:
    build: ./backend/comment-service
    container_name: social_comment_service
    environment:
      - PORT=3003
      - DB_HOST=35.229.227.81
      - DB_USER=postgres
      - DB_PASS=sp+~hh@uCg?6_T=]
      - DB_NAME=postgres
    ports:
      - "3003:3003"
    # Bỏ depends_on postgres
  
  # 5. Frontend
  frontend:
    build: ./frontend
    container_name: social_frontend
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway
    volumes:
      - ./frontend:/app
      - /app/node_modules

  # 6. Notification Service
  notification-service:
    build: ./backend/notification-service
    container_name: social_notification_service
    environment:
      - PORT=3005
      - DB_HOST=35.229.227.81
      - DB_USER=postgres
      - DB_PASS=sp+~hh@uCg?6_T=]
      - DB_NAME=postgres
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    ports:
      - "3005:3005"
    depends_on:
      # Bỏ postgres
      rabbitmq:
        condition: service_started